/* css for all */
* {
  font-family: "Nunito Sans", "Open Sans", sans-serif;
}

/* start of header css */
.header {
  display: flex;
  padding: 0;
  width: 100%;
  height: auto;
  /* position: absolute; */
  align-items: center;
  background-color: #fff;
  font-size: 20px;
}

.company-name {
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 8px;
  padding-left: 20px;
}

.nav-bar {
  margin-left: auto;
}

.nav-list {
  list-style-type: none;
  display: inline-block;
}

a {
  text-decoration: none;
  margin: 18px;
  color: #000;
  letter-spacing: 1px;
}

a:hover {
  color: #fff;
  transition: all 0.2s ease-out;
}
/* end of header css */

/* start of homepage css */
.homepage-pic-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}

.welcome-pic {
  height: 100%;
  width: 620px;
}

.welcome-msg {
  margin: auto;
  font-family: "Qwitcher Grypen", cursive;
  font-size: 150px;
}
/* end of homepage css */

/* resposive */
@media (max-width: 800px) {
  .homepage-pic-container {
    flex-direction: column;
  }
}
