* {
  font-family: "Nunito Sans", "Open Sans", sans-serif;
}

.footer {
  display: flex;
  bottom: 0px;
  padding-left: 10px;
  width: 100%;
  margin: 0;
  align-items: center;
  background-color: #fff;
  font-size: 20px;
  position: fixed;
}

.footer-wrap {
  display: inline-block;
  margin-left: auto;
}

.footer-list {
  list-style: none;
  margin-right: 100px;
}
